/* start globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}

html {
    font-size: 62.5%;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end globals */

/* start body */
#bodyAdmin {
    height: 100vh;
    width: 100vw;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right ,rgb(0, 0, 24), rgb(0, 0, 70));
}
/* end body */

/* start title register users */
#bodyAdmin h1 {
    font-family: poppins-light;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
/* end title register users */

/* start users table */
#tableAdmin {
    width: 90vw;
    padding: 10rem;
    font-size: 2rem;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1rem;
    border-radius: 0.7rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.096);
}

#tableAdmin thead tr th {
    padding: 1rem;
}

#tableAdmin tbody tr, #tableAdmin thead tr th {
    border-bottom: 1px solid #fff;
}

#tableAdmin tbody tr:hover {
    background: #ffffff6e;
}

#tableAdmin tbody tr td {
    padding: 0.5rem;
}

#tableAdmin .btnRemove {
    font-size: 1.6rem;
    background-color: rgb(255, 0, 0);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    cursor: pointer;
}

#tableAdmin .btnRemove:hover {
    background-color: rgb(224, 0, 0);
}

.imageRemove {
    height: 4.5rem;
}
/* end users table */

/* start users remove model */
.box-model {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
}

.box-model.active {
    opacity: 1;
    visibility: visible;
}

.model-description {
    background-color: #fff;
    height: 20%;
    width: 30%;
    border-radius: 0.4rem;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 2rem;
}

.model-description p {
    height: 30%;
    font-size: 2rem;
}

.container-form {
    gap: 1rem;
    width: 100%;
    height: 40%;
}

.box-model .btn-remove-form, .box-model #close-model {
    padding: 1rem;
    width: 25%;
    height: 50%;
    border: none;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
}
.box-model .btn-remove-form {
    background-color: rgb(255, 0, 0);
}

.box-model #close-model {
    background-color: rgb(0, 170, 0);
}

.box-model #close-model:hover {
    background-color: rgb(0, 131, 0);
}

.box-model button:hover {
    background-color: rgb(212, 0, 0);
}
/* end users remove model */

/* start links */
.links {
    background-color: rgb(255, 68, 0);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

.links:hover {
    background-color: rgb(206, 55, 0);
    padding: 1.2rem 1.7rem;
}

#backToMainPage {
    bottom: 5%;
    right: 3%;
}

#registerCategoriesAndProducts {
    bottom: 5%;
    right: 8%;
}
/* end links */
/* start page of products and categories */
.modelEdit {
    align-items: start;
}

input {
    border: none;
}

.modelForm#formProductRegister div {
    width: 100%;
}

.modelForm#formProductRegister #labelTextarea {
    margin: 0;
}

#containerCategoriesSubCategories, #formProductRegister #containerinput {
    gap: 1rem;
}

#formCategoriesProduct input {
    width: 100%;
}

.divChilds#subCategoryRegister {
    width: 45rem !important;
}
/* end page of products and categories */