/* start globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}

html {
    font-size: 62.5%;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end globals */

/* start body */
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "social-medias social-medias"
        "footer footer";

    grid-template-rows: 12rem 1fr 7rem 30rem;
    grid-template-columns: 20rem 1fr;
}
/* end body */

/* start header */
header {
    grid-area: header;
    color: #fff;
    background-color: #000;
}

header h1 {
    width: 100%;
    height: 100%;
    padding: 4rem 0rem;
    text-align: center;
    font-family: poppins-intermediare;
    text-transform: uppercase;
}
/* end header */

/* start links */
nav#linksAdmin {
    min-height: 100rem;
    grid-area: nav;
    background-color: rgb(19, 18, 18);
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    gap: 2rem;
    font-family: poppins-intermediare;
}

nav#linksAdmin .links {
    background-color: rgb(33, 0, 179);
    padding: 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    width: 95%;
    text-align: center;
}

.links.linkChangingProductsCategories {
    position: relative;
}

nav#linksAdmin .links:hover {
    background-color: rgb(47, 0, 255);
}

/* start modal Changing Products Categories */
.modalChangingProductsCategories {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    font-size: 1.6rem;
    visibility: hidden;
    opacity: 0;
}

.modalChangingProductsCategories#formProduct {
    top: 20rem;
    left: 21rem;
}

.modalChangingProductsCategories#formCategory {
    top: 27rem;
    left: 21rem;
}

.modalChangingProductsCategories#formSubCategory {
    top: 35rem;
    left: 21rem;
}

.modalChangingProductsCategories.active {
    visibility: visible;
    opacity: 1;
}
.modalChangingProductsCategories form {
    position: relative;
}

.modalChangingProductsCategories label {
    display: block;
    color: #000;
    text-align: left;
}

.modalChangingProductsCategories input {
    background-color: rgb(100, 100, 100);
    padding: 1rem;
    border-radius: 0.4rem;
    width: 20rem;
    font-family: poppins-semiBold;
    color: #fff;
    border: none;
    outline: 1px solid #000;
}

.modalChangingProductsCategories#formSubCategory input {
    width: 25rem;
}

.modalChangingProductsCategories button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: rgb(161, 1, 63);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-left: 5rem;
}

.modalChangingProductsCategories#formSubCategory button {
    margin-left: 7rem;
}

.modalChangingProductsCategories button:hover {
    background-color: rgb(117, 0, 45);
}

nav#linksAdmin .links#backToMainPage {
    background-color: rgb(185, 28, 0);
}

nav#linksAdmin .links#backToMainPage:hover {
    background-color: rgb(155, 0, 26);
}

.exit {
    position: absolute;
    top: -20%;
    right: 20%;
    z-index: 999;
}


.exit .xOne, .exit .xTwo {
    position: absolute;
    height: 1rem;
    width: 3rem;
    margin: 2rem;
    background-color: #000000;
    border-radius: 0.4rem;
    cursor: pointer;
}

.exit .xOne {
    rotate: 40deg;
}

.exit .xTwo {
    rotate: -40deg;
}

.exit:hover .xOne, .exit:hover .xTwo {
    background-color: rgb(209, 0, 80);
}
/* end modal Changing Products Categories */
/* end links */

/* start title register users */
#bodyAdmin {
    grid-area: main;
    justify-content: start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right ,rgb(0, 0, 24), rgb(0, 0, 70));
}

#bodyAdmin h1 {
    font-family: poppins-light;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
/* end title register users */

/* start users table */
.tableAdmin {
    padding: 10rem;
    font-size: 2rem;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1rem;
    border-radius: 0.7rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.096);
    width: 90%;
}

.tableAdmin thead tr th {
    padding: 1rem;
}

.tableAdmin tbody tr, .tableAdmin thead tr th {
    border-bottom: 1px solid #fff;
}

.tableAdmin tbody tr:hover {
    background: #ffffff6e;
}

.tableAdmin tbody tr td {
    padding: 0.5rem;
}

.tableAdmin .btnRemove {
    font-size: 1.6rem;
    background-color: rgb(255, 0, 0);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    cursor: pointer;
}

.tableAdmin .btnRemove:hover {
    background-color: rgb(224, 0, 0);
}

.imageRemove {
    height: 4.5rem;
}
/* end users table */

/* start users remove model */
.box-model {
    min-height: 100vh;
    height: 150vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.box-model.active {
    opacity: 1;
    visibility: visible;
}

.model-description {
    background-color: #fff;
    height: 20%;
    width: 30%;
    border-radius: 0.4rem;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 2rem;
}

.model-description p {
    height: 30%;
    font-size: 2rem;
}

.container-form {
    gap: 1rem;
    width: 100%;
    height: 40%;
}

.box-model .btn-remove-form, .box-model #close-model {
    padding: 1rem;
    width: 25%;
    height: 50%;
    border: none;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
}
.box-model .btn-remove-form {
    background-color: rgb(255, 0, 0);
}

.box-model #close-model {
    background-color: rgb(0, 170, 0);
}

.box-model #close-model:hover {
    background-color: rgb(0, 131, 0);
}

.box-model button:hover {
    background-color: rgb(212, 0, 0);
}
/* end users remove model */

/* start page of products and categories */
.modelEdit {
    align-items: start;
}

input {
    border: none;
}

#formProductRegister {
    position: relative;
}

.modelForm#formProductRegister #containerinput, .modelForm#formProductRegister #containerCategoriesSubCategories {
    width: 100%;
}

#containerProductRegister input {
    width: 100%;
}

.modelForm#formProductRegister #labelTextarea {
    margin: 0;
}

#modelImageName {
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: -50%;
    z-index: 99;
    padding: 1rem;
    width: 30rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
}

.active#modelImageName {
    visibility: visible;
    opacity: 1;
}

#formProductRegister .arrow-light {
    position: absolute;
    top: 25%;
    left: -8%;
    transform: rotate(180deg);
    height: 5rem;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

#formProductRegister .arrow-light.active {
    visibility: hidden;
    opacity: 0;
}

#formProductRegister .arrow-light:hover, #modelImageName .arrow-light:hover {
    animation-name: arrowOpenModal;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-direction: normal;
    animation-timing-function: ease;
}

#modelImageName .arrow-light {
    height: 5rem;
    position: absolute;
    left: -20%;
    cursor: pointer;
    transform: rotate(0deg);
}

#containerCategoriesSubCategories, #formProductRegister #containerinput {
    gap: 1rem;
}

#formCategoriesProduct input {
    width: 100%;
}

.divChilds#subCategoryRegister {
    width: 45rem !important;
}
/* end page of products and categories */

/* start footer */
.social-medias#socialMediasAdmin {
    grid-area: social-medias;
    height: auto;
}

.footer {
    grid-area: footer;
}
/* end footer */