/* start light mode */
body[data-theme="t-light"] {
    --color-bg-container-total-values: linear-gradient(to bottom right, #fff, #fff);
    --color-bg-choose-hardwares: rgb(255, 255, 255);
    --color-bg-paragraph-hardwares: linear-gradient(#8d8d8d, #8d8d8d);
    --color-text: #000;
    --font-weight: 600;
    --font-family: poppins-semiBold;
    --color-harwares-value: #000;
}

body[data-theme="t-dark"] {
    --color-bg-container-total-values: linear-gradient(to bottom right ,rgb(34, 0, 34), rgb(18, 0, 43));
    --color-bg-choose-hardwares: rgb(39, 0, 39);
    --color-bg-paragraph-hardwares: linear-gradient(to top right,rgba(31, 31, 31, 0.8), rgba(53, 53, 53, 0.8));
    --color-text: #fff;
    --font-weight: normal;
    --font-family: poppins-light;
    --color-harwares-value: #00a824;
}
/* end light mode */

/* start choose the team */
.blueOrRedTeam {
    height: 50vh;
    width: 100vw;
    font-family: poppins-bold;
    flex-direction: column;
}

.red-team {
    background-image: linear-gradient(to bottom right ,rgb(40, 0, 0), rgb(110, 0, 0), rgb(230, 0, 0));
}

.blue-team {
    background: linear-gradient(to bottom right ,rgb(0, 0, 40),rgb(0, 0, 112), rgb(0, 0, 223));
}

.paragraph-team {
    background: linear-gradient(to bottom right ,rgba(70, 70, 70, 0.8), rgb(204, 204, 221), rgba(176, 176, 226, 0.459));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    font-size: 4rem;
    width: 30%;
    text-align: center;
}
/* end choose the team */

/* start container total value */
.container-total-values {
    background: var(--color-bg-container-total-values);
    color: #fff;
    gap: 15rem;
    font-size: 2.5rem;
    font-family: poppins-light;
    padding: 2rem;
}

.building-at-home, .building-ready {
    padding: 1.5rem;
    gap: 1rem;
    background-color: rgb(0, 0, 126);
    border-radius: 0.4rem;
}

.img-money {
    height: 3rem;
}
/* end container total value */

/* start container choose hardwares */
.container-hardwares .paragraph-hardwares {
    background: var(--color-bg-paragraph-hardwares);
    padding: 1.5rem;
    font-size: 2rem;
    font-family: poppins-semiBold;
    color: var(--color-text);
}

.choose-hardwares {
    justify-content: start;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    background-color: var(--color-bg-choose-hardwares);
}

.container-img {
    width: 10%;
    text-align: center;
}

.img-demonstration {
    height: 12rem;
}

.img-demonstration.ram-memory {
    height: 5.5rem;
}

.hardwares-description {
    font-size: 2.5rem;
    font-family: var(--font-family);
    color: var(--color-text);
    width: 50%;
}

.hardwares-value-choose {
    position: absolute;
    right: 5%;
    flex-direction: column;
    gap: 5rem;
}

.hardwares-value-choose .hardwares-value {
    font-size: 2rem;
    font-family: poppins-semiBold;
    color: var(--color-harwares-value);
}

.hardwares-value-choose .btn-choose-hardwares {
    font-size: 1.6rem;
    font-family: poppins-semiBold;
    padding: 1rem 1.8rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: #198000;
    cursor: pointer;
}

.hardwares-value-choose .btn-choose-hardwares:hover {
    background-color: #27c400;
    padding: 1.2rem 2.1rem;
}

/* end container choose hardwares */

/* start box model choose hardwares */
.box-model-choose-hardwares {
    position: absolute;
    top: 0;
    min-height: 100vh;
    height: 207.2vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    gap: 4rem;
    visibility: hidden;
    opacity: 0;
    justify-content: start;
    padding: 5rem 0 0 0;
    z-index: 999;
}

.box-model-choose-hardwares.active {
    visibility: visible;
    opacity: 1;
}

.exit {
    position: fixed;
    top: 3%;
    right: 8%;
    z-index: 9;
}


.exit .xOne, .exit .xTwo {
    position: absolute;
    height: 2rem;
    width: 7rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    cursor: pointer;
}

.exit .xOne {
    rotate: 40deg;
}

.exit .xTwo {
    rotate: -40deg;
}

.exit:hover .xOne, .exit:hover .xTwo {
    background-color: #c40000;
}

.box-model-choose-hardwares .container-hardwares .paragraph-hardwares {
    border-radius: 0.4rem 0.4rem 0rem 0rem;
}
/* end box model choose hardwares */