/* start light mode */
body[data-theme="t-light"] {
    --color-bg-medias: linear-gradient(rgb(233, 233, 233), rgb(233, 233, 233));
}

body[data-theme="t-dark"] {
    --color-bg-medias: linear-gradient(to top right ,rgb(102, 0, 63), rgb(13, 0, 128));
}
/* end light mode */

/* start footer */
.footer {
    background-color: #171718;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5rem;
    padding: 3rem;
}

.social-medias {
    background: var(--color-bg-medias);
    height: 8vh;
    gap: 2rem;
}

.social-medias img {
    height: 5rem;
    cursor: pointer;
}

.social-medias img:hover {
    height: 6rem;
}

.container-logo-footer p {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: poppins-semibold;
}

.footer .footer-text {
    font-family: poppins-semiBold;
    font-size: 1.6rem;
}

.footerImg {
    height: 5rem;
    transform: rotate(45deg);
    margin-right: 1rem;
}

#address-footer {
    text-transform: uppercase;
    font-weight: 800;
}
/* end footer */