/* start light mode */
body[data-theme="t-light"] {
    --color-bg-goToHeader: rgb(255, 0, 0);
    --color-bg-messages: rgb(73, 73, 73);
    --color-text-messages: #fff;
}

body[data-theme="t-dark"] {
    --color-bg-goToHeader: #fff;
    --color-bg-messages: aliceBlue;
    --color-text-messages: #000;
}
/* end light mode */

/* start globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins-extraLight;
    src: url("../FONTS/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("../FONTS/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-intermediare;
    src: url("../FONTS/Poppins/Poppins-medium.ttf");
}

@font-face {
    font-family: poppins-semiBold;
    src: url("../FONTS/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../FONTS/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-extraBold;
    src: url("../FONTS/Poppins/Poppins-ExtraBold.ttf");
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* start utils */
.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.inputFile {
    background-color: rgb(250, 0, 75);
    padding: 0.9rem;
    font-size: 1.6rem;
    font-family: poppins-intermediare;
    border-radius: 0.4rem;
    cursor: pointer;
}

.inputFile:hover {
    background-color: rgb(204, 0, 61);
}

.selectCategory {
    width: 15rem;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1;
    border: 0;
    border-radius: 0.4rem;
    height: 5rem;
    cursor: pointer;
}
/* end utils */

body {
    width: 100vw;
    height: 100vh;
}

/* start site navegation */
.goToHeader {
    position: fixed;
    bottom: 5%;
    left: 1%;
    text-decoration: none;
    color: #fff;
    font-family: poppins-semiBold;
    font-weight: 700;
    border-radius: 0.4rem;
    background: var(--color-bg-goToHeader);
    visibility: hidden;
    opacity: 0;
}

.goToHeader.active {
    visibility: visible;
    opacity: 1;
}

.goToHeader.activeThemeWhite {
    background: rgb(255, 0, 0);
}

.goToHeader img {
    height: 6rem;
}

.goToHeader img:hover {
    animation-name: btnNavegationWebsite;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-direction: normal;
    animation-timing-function: ease;
}
/* end site navegation */

/* start messages */
#paragraphMessages {
    background-color: var(--color-bg-messages);
    color: var(--color-text-messages);
    width: 9%;
    padding: 0.8rem;
    text-align: center;
    font-size: 2rem;
    font-family: poppins-intermediare;
    position: fixed;
    top: 0%;
    right: 5%;
    z-index: 999;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    animation-name: messages;
    animation-iteration-count: normal;
    animation-duration: 6s;
    animation-direction: normal;
    animation-timing-function: ease;
}
/* end messages */

/* start animations */
@keyframes btnNavegationWebsite {
    0% {
        height: 6rem;
    }

    50% {
        height: 6.5rem;
    }
}

@keyframes messages {
    0% {
        top: 0%;
        opacity: 0;
        visibility: visible;
    }

    20% {
        opacity: 1;
        top: 8%;
    }

    50% {
        top: 8%;
        opacity: 1;
        visibility: visible;
    }

    75% {
        top: 8%;
        opacity: 1;
        visibility: visible;
    }

    100% {
        top: 0%;
        opacity: 0;
        visibility: hidden;
    }
}
/* end animations */
/* end globals */