/* start light mode */
body[data-theme="t-light"] {
    --color-bg-goToHeader: rgb(255, 0, 0);
}

body[data-theme="t-dark"] {
    --color-bg-goToHeader: #fff;
}
/* end light mode */

/* start globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins-extraLight;
    src: url("../FONTS/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("../FONTS/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-semiBold;
    src: url("../FONTS/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../FONTS/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-extraBold;
    src: url("../FONTS/Poppins/Poppins-ExtraBold.ttf");
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* start utils */
.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end utils */

body {
    width: 100vw;
    height: 100vh;
}

/* start site navegation */
.goToHeader {
    position: fixed;
    bottom: 5%;
    left: 1%;
    text-decoration: none;
    color: #fff;
    font-family: poppins-semiBold;
    font-weight: 700;
    border-radius: 0.4rem;
    background: var(--color-bg-goToHeader);
    visibility: hidden;
    opacity: 0;
}

.goToHeader.active {
    visibility: visible;
    opacity: 1;
}

.goToHeader.activeThemeWhite {
    background: rgb(255, 0, 0);
}

.goToHeader img {
    height: 6rem;
}

.goToHeader img:hover {
    animation-name: btnNavegationWebsite;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-direction: normal;
    animation-timing-function: ease;
}
/* end site navegation */

/* start animations */
@keyframes btnNavegationWebsite {
    0% {
        height: 6rem;
    }

    50% {
        height: 6.5rem;
    }
}
/* end animations */
/* end globals */