/* start light mode */
body[data-theme="t-light"] {
    --color-bg-harware-showcase: rgb(255, 255, 255);
    --color-bg-column-products: linear-gradient(rgb(180, 179, 179), rgb(70, 70, 70));
}

body[data-theme="t-dark"] {
    --color-bg-harware-showcase: linear-gradient(to top left ,rgb(50, 0, 50), rgb(31, 1, 70));
    --color-bg-column-products: linear-gradient(rgb(35, 0, 100), rgb(90, 1, 90));
}

body {
    background: var(--color-bg-harware-showcase);
}
/* end light mode */

/* start main */
/* start choose intel or amd */
.containerIntel, .containerAmd {
    height: 50vh;
    width: 50vw;
}

.containerIntel {
    background: linear-gradient(to bottom right ,rgb(0, 0, 40),rgb(0, 0, 112), rgb(0, 0, 223));
    cursor: pointer;
}

.containerAmd {
    background-image: linear-gradient(to bottom right ,rgb(40, 0, 0), rgb(110, 0, 0),  rgb(230, 0, 0));
    cursor: pointer;
}

.imgLogoRyzen {
    height: 30rem;
}

p.intel {
	display: inline-block;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to bottom right ,rgba(70, 70, 70, 0.8), rgb(204, 204, 221), rgba(176, 176, 226, 0.459));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    font-size: 10rem;
}

.btnSelectIntel, .btnSelectAmd {
    width: 50vw;
    padding: 1.1rem;
    font-size: 3rem;
    background-color: #01e63a;
    border: none;
    font-family: poppins-semiBold;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: #000;
}

.btnSelectIntel.active, .btnSelectAmd.active {
    visibility: visible;
    opacity: 1;
}
/* end choose intel or amd */

/* start product showcase */
.hardware-showcase {
    width: 100vw;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.row-products {
    gap: 4rem;
    flex-wrap: wrap;
}

.column-products {
    background: var(--color-bg-column-products);
    flex-direction: column;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif; 
    cursor: pointer;
    border-radius: 0.4rem;
    width: 38rem;
    height: 45rem;
    justify-content: space-between;
}

.column-products:hover {
    box-shadow: 1px 5px 20px 6px rgba(252, 252, 252, 0.5);
}

.hardware-image {
    margin-top: 1rem;
    height: 25rem;
}

.product-especification {
    color: #fff;
    width: 90%;
    font-family: poppins-semiBold;
    text-align: center;
}

.container-product .product-value {
    font-size: 2.5rem;
    font-weight: 700;
    color: #01e63a;
    margin-bottom: 2rem;
}

.container-product a.add-cart {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 2.5rem;
    background-color: #01e63a;
    color: #000;
    border: none;
    cursor: pointer;
    font-family: poppins-semiBold;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.container-product:hover a.add-cart {
    visibility: visible;
    opacity: 1;
}
/* end product showcase */
/* end main */