/* start globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s all;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #171718;
}

body.active {
    background-color: rgb(255, 255, 255);
}

/* end globals */

/* start utils */
.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end utils */

/* start header */
/* start header left */
.header {
    width: 100vw;
    height: 20vh;
    padding: 2rem;
    justify-content: space-between;
    background-color: #171718;
}

.header.active {
    background-color: rgb(180, 179, 179);
}

#img-logo {
    height: 13rem;
    width: 13rem;
}

.text-logo-header {
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: -1rem;
    color: #fff;
    cursor: pointer;
}

.text-logo-header.active {
    color: #171718;
}
/* ends header left */

/* start header right */
.header-right {
    gap: 3rem;
}

#loginOrSignUp p {
    font-size: 2rem;
    color: #01b92f;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 600;
}

#loginOrSignUp p.active {
    color: #000;
}

#loginOrSignUp p:hover {
    text-decoration: underline;
}

#user-header {
    height: 3rem;
}

#theme-white-or-dark {
    background-color: #fff;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 12rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    gap: 2rem;
}

#theme-white-or-dark.active {
    background-color: #171718;
}

#theme-white-or-dark::after {
    content: "";
    width: 38%;
    height: 90%;
    background-color: #171718;
    position: absolute;
    left: 5%;
    border-radius: 100%;
    transition: 0.3s left;
}

#theme-white-or-dark.active::after {
    left: 55%;
    background-color: #fff;
}

.img-theme {
    height: 4rem;
    width: 4rem;
}

#carrinho {
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgb(6, 211, 6);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    gap: 1rem;
}

#carrinho:hover {
    padding: 1.7rem;
    background-color: rgb(0, 161, 0);
}

#carrinho p {
    color: #fff;
}

#shopping-cart-img {
    height: 3rem;
}
/* end header right */
/* end header */

/* start main */
.containerIntel, .containerAmd {
    height: 50vh;
    width: 50vw;
}

.containerIntel {
    background-image: linear-gradient(to bottom right ,rgb(0, 0, 114), rgb(0, 0, 148), rgb(0, 0, 255));
    cursor: pointer;
}

.containerAmd {
    background-image: linear-gradient(to bottom right ,rgb(71, 0, 0), rgb(126, 0, 0),  rgb(255, 0, 0));
    cursor: pointer;
}

.imgLogoRyzen {
    height: 30rem;
}

p.intel {
	display: inline-block;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to bottom right ,rgba(129, 129, 129, 0.699), rgb(204, 204, 221), rgba(212, 212, 233, 0.459));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    font-size: 10rem;
}

.btnSelectIntel, .btnSelectAmd {
    width: 50vw;
    padding: 1.5rem;
    font-size: 2.5rem;
    background-color: #01e63a;
    border: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}

.btnSelectIntel.active, .btnSelectAmd.active {
    visibility: visible;
    opacity: 1;
}

.hardware-showcase {
    background-color: #171718;
    width: 100vw;
    margin-bottom: 1rem;
}

.hardware-showcase.active {
    background-color: rgb(255, 255, 255);
}

.row-products {
    gap: 4rem;
    flex-wrap: wrap;
}

.column-products {
    background-color: #3c3c3d;
    flex-direction: column;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 4rem;
    gap: 2rem;
    cursor: pointer;
}

.column-products.active {
    background-color: rgb(180, 179, 179);
}

.hardware-image {
    height: 25rem;
}

.product-especification {
    color: #fff;
    width: 30rem;
}

.product-value {
    font-size: 2.5rem;
    font-weight: 700;
    color: #01e63a;
}

.add-cart {
    border: 1px solid red;
}
/* end main */

/* start footer */
.footer {
    background-color: #171718;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5rem;
    padding: 3rem;
}

.social-medias {
    background: linear-gradient(to top right ,rgb(59, 0, 59),rgb(117, 0, 117) , rgb(141, 0, 141));
    height: 8vh;
    gap: 2rem;
}

.social-medias.active {
    background: linear-gradient(rgb(233, 233, 233), rgb(233, 233, 233));
}

.social-medias img {
    height: 5rem;
    cursor: pointer;
}

.social-medias img:hover {
    height: 6rem;
}

.footer.active {
    background-color: rgb(180, 179, 179);
    color: #000;
}

.container-logo-footer p {
    text-transform: uppercase;
    font-size: 5rem;
}

.footerImg {
    height: 8rem;
    transform: rotate(45deg);
    margin-right: 2rem;
}

#address-footer {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
/* end footer */