/* start light mode */
body[data-theme="t-light"] {
    --color-bg-container-login: rgb(255, 255, 255);
    --color-text: #000;
    --color-bg-container-form: #252525;
    --color-bg-container-form-gradient: linear-gradient(to bottom, #0a0a0a 20%, #585858 150%, #757575 20%);
    --color-bg-input: #fff;
    --color-bg-btn: rgb(87, 1, 87);
    --color-bg-btn-hover: rgb(66, 0, 66);
}

body[data-theme="t-dark"] {
    --color-bg-container-login: linear-gradient(to bottom right ,rgb(34, 0, 34), rgb(18, 0, 43));
    --color-text: #fff;
    --color-bg-container-form: rgb(2,0,36);
    --color-bg-container-form-gradient: linear-gradient(to bottom, rgba(2,0,36,1) 20%, rgba(0,0,124,1) 150%, rgba(0,9,119,1) 20%);
    --color-bg-input: #223243;
    --color-bg-btn: rgb(0, 176, 185);
    --color-bg-btn-hover: rgb(0, 218, 230);
}
/* end light mode */

#header {
    justify-content: space-around;
}

/* start container login */
/* start form left */
.container-login {
    padding: 5rem;
    gap: 10rem;
    background: var(--color-bg-container-login);
}

.container-text p, .container-text h1 {
    color: var(--color-text);
}

.container-text {
    color: #fff;
}

.container-text p{
    font-family: poppins-extraLight;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.container-text h1 {
    font-size: 4rem;
    font-family: poppins-semiBold;
}
/* end form left */

/* start form right */
.container-form {
    background: var(--color-bg-container-form);
    background: var(--color-bg-container-form-gradient);
    padding: 3rem;
    width: 40rem;
    height: 50rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
}

.container-form form {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    align-items: start;
}

.container-email label img, .container-password label img {
    height: 2rem;
}

.container-email, .container-password {
    width: 100%;
    justify-content: start;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, .35);
}

.container-login .container-email, .container-password, input {
    background-color: var(--color-bg-input);
    outline: none;
    border-radius: 1rem;
}

input {
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    border: none;
}

input::placeholder {
    font-family: poppins-extraLight;
    font-size: 1.6rem;
}

button {
    padding: 0.8rem 1.8rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background: var(--color-bg-btn);
    color: #fff;
    font-size: 2rem;
    font-family: poppins-semiBold;
}

button:hover {
    background: var(--color-bg-btn-hover);
    padding: 1rem 2.1rem;
}

.container-form a {
    font-size: 2rem;
    font-family: poppins-semiBold;
    color: #fff;
    text-decoration: none;
}

.container-form a:hover {
    text-decoration: underline;
}

.container-form a span {
    color: rgb(0, 187, 187);
}

.container-form a span:hover {
    /* color: rgb(0, 219, 219); */
    color: rgb(1, 131, 131);
}
/* end form right */
/* end container login */