/* start light mode */
body[data-theme="t-light"] {
    --bg-color-container-payments: rgb(129, 129, 129);
    --bg-color-label-inputs: #a82700;
    --bg-color-label-inputs-hover: #ff3c00;
    --bg-color-container-values: rgb(0, 141, 0);
}

body[data-theme="t-dark"] {
    --bg-color-container-payments: linear-gradient(to bottom right, rgb(97, 0, 29), rgb(37, 0, 11));
    --bg-color-label-inputs: rgb(0, 90, 102);
    --bg-color-container-values: rgba(0, 255, 0, 0.5);
    --bg-color-label-inputs-hover: rgb(0, 68, 77);
}
/* end light mode */

/* start main */
#mainPaymentPage {
    flex-direction: column;
    padding: 5rem;
    font-family: poppins-intermediare;
    font-size: 1.6rem;
    gap: 2rem;
}

#containerPaymentPage {
    background: var(--bg-color-container-payments);
    border-radius: 0.4rem;
    height: 35vh;
    width: 80vw;
    padding: 2rem;
}

#containerPaymentPage #containerPaymentParagraph h1 {
    color: var(--color-text-reverse);
}

#containerPaymentParagraph {
    justify-content: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

#paymentMethodAndValues {
    width: 100%;
    height: 80%;
}

/* start container inputs payment method */
.containerPaymentsMethods {
    width: 30%;
    margin-top: 1rem;
}

/* start container money and pix */
#containerMoney, #containerPix {
    width: 80%;
    margin: 1rem;
}

.labelInputsPayment {
    background-color: var(--bg-color-label-inputs);
    width: 100%;
    padding: 0.8rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    justify-content: start;
    gap: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    height: 7.5rem;
    color: var(--color-text-reverse);
}

.labelInputsPayment:hover {
    background-color: var(--bg-color-label-inputs-hover); 
}

.labelInputsPayment img {
    height: 5rem;
}

#containerMoney input, #containerPix input {
    display: none;
}
/* end container money */
/* end container inputs payment method */

/* start container values */
.containerValues {
    width: 70%;
    height: 75%;
}

#ParagraphPaymentMethod {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: poppins-semiBold;
    color: var(--color-text-reverse);
}

.containerValues .containerAmount {
    width: 100%;
    text-align: center;
    background-color: var(--bg-color-container-values);
    padding: 1.5rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    color: var(--color-text-reverse);
}

#paragraphPurchaseValue {
    font-size: 2.5rem;
}

#purchaseValue {
    font-family: poppins-semiBold;
}
/* end container values */
/* end main */

/* start container buttons */
#mainPaymentPage #containerBtns {
    width: 75vw;
    text-align: end;
}

#mainPaymentPage #containerBtns a, #mainPaymentPage #containerBtns button {
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
}

#mainPaymentPage #containerBtns a {
    background-color: rgb(255, 51, 0);
    color: #000;
    padding: 1.8rem 2rem;
}

#mainPaymentPage #containerBtns a:hover {
    background-color: rgb(204, 41, 0);
}

#mainPaymentPage #containerBtns button {
    background-color: rgb(0, 173, 0);
}

#mainPaymentPage #containerBtns button:hover {
    background-color: rgb(0, 133, 0);
}
/* end container buttons */