/* start light mode */
body[data-theme="t-light"] {
    --bg-color-image-page-products: linear-gradient(rgb(150, 150, 150), rgb(70, 70, 70));
    --bg-color-table: linear-gradient(rgb(199, 199, 199), rgb(129, 129, 129));
}

body[data-theme="t-dark"] {
    --bg-color-image-page-products: linear-gradient(rgb(0, 5, 80), rgb(0, 1, 46));
    --bg-color-table: linear-gradient(rgb(0, 5, 68), rgb(0, 1, 46));
}

/* end light mode */

/* start product page */
#productPageMain {
    padding: 4rem;
    font-family: poppins-intermediare;
    flex-direction: column;
    gap: 4rem;
    background: var(--color-bg-harware-showcase);
}

.container-product.productPage {
    gap: 2rem;
    width: 60%;
}

.productPage .hardware-image {
    width: 60rem;
    height: 60rem;
    background: var(--bg-color-image-page-products);
    padding: 4rem;
    border-radius: 0.4rem;
}

.productPage .product-description {
    height: 50rem;
}

.container-product.productPage .product-especification {
    font-size: 2rem;
    width: 40rem;
    color: var(--color-text-reverse);
}

.productPage #available {
    font-size: 2rem;
    color: rgb(0, 134, 0);
}

.productPage .product-value {
    color: rgb(0, 148, 0);
}

.productPage #btn-product-add {
    margin-top: 3rem;
    background-color: rgb(0, 128, 0);
}

.productPage #btn-product-add:hover {
    background-color: rgb(0, 150, 0);
}

#especification-table {
    font-size: 2rem;
    width: 60%;
    background: var(--bg-color-table);
    color: var(--color-text-reverse);
    padding: 2rem;
    border-radius: 0.4rem;
}
/* end product page */