body {
    background: linear-gradient(to bottom right ,rgb(34, 0, 34), rgb(18, 0, 43));
}

#header {
    justify-content: space-around;
}

/* start container login */
/* start form left */
.container-login {
    padding: 5rem;
    gap: 7rem;
    height: 70vh;
}

.container-login.active {
    background-color: rgb(255, 255, 255);
}

.container-login.active .container-text p, .container-login.active .container-text h1 {
    color: #000;
}

.container-text {
    color: #fff;
}

.container-text p{
    font-family: poppins-extraLight;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.container-text h1 {
    font-size: 4rem;
    font-family: poppins-semiBold;
}
/* end form left */

/* start form right */
.container-form {
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, rgba(2,0,36,1) 20%, rgba(0,0,124,1) 150%, rgba(0,9,119,1) 20%);
    padding: 3rem;
    height: 80%;
    width: 60rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
}

.container-login.active .container-form {
    background: linear-gradient(to bottom, #0a0a0a 20%, #585858 150%, #757575 20%);
    background-color: #252525;
}

.container-form form {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.container-login.active input {
    background-color: #fff;
}

.container-form form div {
    gap: 2rem;
    width: 100%;
}

input {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    border: none;
    background-color: #223243;
    outline: none;
    border-radius: 1rem;
}

.container-login.active input {
    color: #000;
}

input::placeholder {
    font-family: poppins-extraLight;
    color: #fff;
    font-size: 1.6rem;
}

.container-login.active input::placeholder {
    color: #000;
}

button {
    padding: 0.8rem 1.8rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background: rgb(0, 176, 185);
    color: #fff;
    font-size: 2rem;
    font-family: poppins-semiBold;
}

.container-login.active button {
    background: rgb(102, 0, 102);
}

button:hover {
    background: rgb(0, 203, 214);
    padding: 1rem 2.1rem;
}

.container-login.active button:hover {
    background: rgb(66, 0, 66);
}
/* end form right */

/* fazer o botão para voltar para a página de login */
.backToThePreviousPage {
    position: fixed;
    right: 3%;
    bottom: 5%;
    background-color: rgb(241, 0, 0);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-family: poppins-semiBold;
    color: #000;
    border-radius: 0.4rem;
    cursor: pointer;
}

.backToThePreviousPage:hover {
    background-color: rgb(182, 0, 0);
    padding: 1.2rem;
}
/* end container login */