/* start light mode */
body[data-theme="t-light"] {
    --color-bg-container-shopping: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    --color-bg-containers-childs: rgb(122, 122, 122);
    --color-text: #000;
    --color-bg-input: #fff;
    --color-bg-btn-address: rgb(218, 80, 0);
    --color-bg-btn-address-hover: rgb(151, 48, 0);
}

body[data-theme="t-dark"] {
    --color-bg-container-shopping: linear-gradient(to bottom right ,rgb(50, 0, 50), rgb(31, 1, 70));
    --color-bg-containers-childs: rgb(0, 0, 48);
    --color-text: #fff;
    --color-bg-input: #223243;
    --color-bg-btn-address: rgb(0, 212, 212);
    --color-bg-btn-address-hover: rgb(0, 163, 163);
}
/* end light mode */

/* start products form cart-shopping */
.container-shopping-cart {
    background: var(--color-bg-container-shopping);
    gap: 3rem;
    color: #fff;
    align-items: start;
    padding: 4rem;
}

/* start form address CEP */
.address-user, .container-products {
    width: 50vw;
    background-color:var(--color-bg-containers-childs);
    padding: 2rem;
    border-radius: 0.6rem;
}

.address-user p {
    font-family: poppins-light;
    font-size: 1.6rem;
    color: var(--color-text);
    font-weight: 600;
}

.address-user input {
    color: var(--color-text);
    font-family: poppins-light;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    width: 40%;
    border: none;
    background-color: var(--color-bg-input);
    outline: none;
    border-radius: 1rem;
    margin-right: 1rem;
}

.address-user button {
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-family: poppins-semiBold;
    background: var(--color-bg-btn-address);
    cursor: pointer;
}

.address-user button:hover {
    background-color: var(--color-bg-btn-address-hover);
}
/* end form address CEP */

/* start all products purchased */
.container-products {
    margin-top: 2rem;
}

.container-text-products, table, .freight {
    width: 100%;
}

table, .freight {
    margin-top: 3rem;
}

.container-text-products {
    justify-content: space-between;
    padding: 1rem;
}

.container-text-products p, .btn-remove {
    padding: 0.8rem;
    font-size: 1.8rem;
    font-family: poppins-light;
    border-radius: 0.4rem;
}

.container-text-products p {
    background: linear-gradient(rgb(201, 0, 0), rgb(114, 0, 0));
}

.container-text-products .btn-remove {
    cursor: pointer;
    background: rgb(131, 2, 73);
}

.container-products .btn-remove:hover {
    background: rgb(102, 0, 56);
}

table tr #cart-product {
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-bottom: 5rem;
    background-color: #223243;
    padding: 2rem;
    border-radius: 0.5rem;
}

.container-products table img {
    height: 10rem;
}

.container-left-td {
    gap: 2.5rem;
    font-size: 2rem;
    font-family: poppins-semiBold;
    width: 70%;
}

.container-left-td span {
    gap: 1rem;
    font-size: 2.5rem;
}

.container-left-td span .addMore, .container-left-td span .subtration {
    cursor: pointer;
}

.container-left-td span .addMore:hover, .container-left-td span .subtration:hover {
    color: #223243;
}

.container-right-td {
    flex-direction: column;
    height: 12vh;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: poppins-light;
}

.container-right-td .product-value {
    color: green;
    font-family: poppins-semiBold;
    font-size: 2rem;
}

.container-right-td .remove-cart-product {
    background-color: rgb(107, 0, 0);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.container-right-td .remove-cart-product:hover {
    background-color: rgb(160, 0, 0);
}

/* end light mode */
.container-shopping-cart.active table tr #cart-product, .container-shopping-cart.active .container-right-td .product-value {
    background-color: #ffffff;
    color: #000;
}

.container-shopping-cart.active .container-right-td .remove-cart-product {
    background-color: rgb(119, 0, 0);
    color: #fff;
}

.container-shopping-cart.active .container-right-td .remove-cart-product:hover {
    background-color: rgb(158, 1, 1);
}
/* end light mode */
/* end all products purchased */

/* start choose freight */
.freight {
    font-family: poppins-light;
    font-size: 1.6rem;
}

.paragraph-freight {
    font-size: 2rem;
    font-family: poppins-semiBold;
}

.container-choose-freight {
    flex-direction: column;
    align-items: start;
}

.container-freight-one, .container-freight-two, .container-freight-three {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-top: 1rem;
}

.freight input[type="radio"] {
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 0 none;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
}

.container-shopping-cart.active .freight input[type="radio"] {
    background-color: #ffffff;
}

.freight input[type="radio"]:checked {
    background-color: #ff9100;
}

.container-shopping-cart.active .freight input[type="radio"]:checked {
    background-color: #000;
}

.freight label {
    font-size: 2rem;
    cursor: pointer;
}

.container-freight-one span, .container-freight-two span, .container-freight-three span {
    position: absolute;
    right: 2%;
    font-size: 2rem;
}

/* start light mode */
.container-shopping-cart.active .freight {
    color: #000;
}
/* end light mode */
/* end choose freight */
/* end products form cart-shopping */

/* start product cart summary */
.value-and-summary-of-products {
    background-color:rgb(0, 0, 48);
    padding: 2rem;
    font-family: poppins-light;
    font-size: 1.6rem;
    width: 20vw;
    margin-top: 0.1rem;
}

.paragraph-summary {
    margin-bottom: 3rem;
    font-family: poppins-semiBold;
    color: green;
    text-transform: uppercase;
    text-align: center;
}

#container-values {
    flex-direction: column;
    gap: 1rem;
}

.container-buttons {
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
}

.paragraph-total {
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 151, 0);
    font-family: poppins-semiBold;
    margin-top: 5rem;
    text-align: center;
}

#finaly-cart, .container-buttons a {
    padding: 1.2rem 0.9rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.4rem;
    font-family: poppins-semiBold;
    color: #000;
}

#finaly-cart {
    background-color: rgb(20, 170, 0);
}

#finaly-cart:hover {
    background-color: rgb(26, 226, 0);
}

#finaly-cart {
    text-decoration: none;
    color: #000;
}

#keep-shopping {
    background-color: rgb(0, 172, 172);
}

#keep-shopping:hover {
    background-color: rgb(0, 219, 219);
}

/* start light mode */
.container-shopping-cart.active .paragraph-summary, .container-shopping-cart.active .paragraph-total {
    color: #000;
}

.container-shopping-cart.active #finaly-cart {
    background-color: rgb(0, 78, 4);
}

.container-shopping-cart.active #finaly-cart:hover {
    background-color: rgb(0, 105, 5);
}

.container-shopping-cart.active #finaly-cart {
    color: #fff;
}

.container-shopping-cart.active #keep-shopping {
    background: rgb(7, 0, 102);
    color: #fff;
}

.container-shopping-cart.active #keep-shopping:hover {
    background: rgb(11, 0, 158);
    color: #fff;
}
/* end light mode */
/* end product cart summary */