/* start light mode */
body[data-theme="t-light"] {
    --boxShadowBackgroundDivChilds: rgba(54, 54, 54, 1);
    --boxShadowDivChilds: 10px 10px 20px 6px;
}

body[data-theme="t-dark"] {
    --boxShadowBackgroundDivChilds: rgba(252, 252, 252, 0.5);
    --boxShadowDivChilds: 1px 5px 20px 6px;
}
/* end light mode */

/* start user container with personal information */
#containerUserPage {
    width: 100vw;
    padding: 2rem;
    gap: 10rem;
    height: 51vh;
    font-size: 1.6rem;
    font-family: poppins-semibold;
    color: #fff;
}

#containerUserPage .divChilds {
    background: linear-gradient(rgb(51, 51, 51), rgb(92, 92, 92));
    cursor: pointer;
    padding: 10rem 0rem;
    width: 20%;
    text-align: center;
    font-size: 3rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
}

#containerUserPage .divChilds:hover {
    box-shadow: var(--boxShadowDivChilds) var(--boxShadowBackgroundDivChilds);
    padding: 11rem 0rem;
    width: 21%;
}

#containerUserInformation {
    flex-direction: column;
}

.modelForm.personalInformations .inputs {
    gap: 1rem;
}

#changePassword label {
    width: 95%;
}
/* end user container with personal information */

/* start forms models */
.modelForm label {
    width: 100%;
    color: #000;
    display: block;
}

.modelForm input {
    width: 30rem;
}

#container-btns-edit {
    width: 100%;
    gap: 1rem;
    margin-top: 5%;
    align-items: end;
}

#container-btns-edit button, #container-btns-edit p {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

#container-btns-edit button {
    background-color: rgb(0, 0, 202);
}

#container-btns-edit button:hover {
    background-color: rgb(0, 0, 238);
}

#container-btns-edit p {
    background-color: rgb(255, 20, 90);
}

#container-btns-edit p:hover {
    background-color: rgb(212, 0, 64);
}

/* start user Address */
#formUserAddress div {
    gap: 1rem;
}

#formUserAddress div .select {
    width: 30rem;
}
/* end user Address */
/* end models forms */